/* .shelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 30px;
  }
  
  .book-card {
    background: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .book-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
  } */
   
   .navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
}

   .shelf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px;
}

.book-card {
  text-align: center;
}

.book-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

  
  .book-card h3 {
    font-size: 16px;
    margin: 10px 0 5px;
  }
  
  .book-card p {
    font-size: 14px;
    color: gray;
  }
  
  .book-card button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  